.switchLang {
  display: none;
}
.switchLang.showLang {
  display: inherit;
}
.logo-bar {
  background-color: #f7faf6; /* Light gray background */
  padding: 20px 0;
}
.logo-bar img {
  max-height: 100px; /* Adjust logo size */
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
.logo-bar img:hover {
  opacity: 1;
}

